.menu {
    display: grid;
    grid-row: auto;
    background-color: #B7D9E2;
    border: 3px solid #5C93AA;
    border-radius: 5px;
    height: 50px;
}

.rodape{
    display: grid;
    grid-row: auto;
    background-color: #B7D9E2;
    border: 3px solid #5C93AA;
    position: relative;
}

.pinto:last-child{
    position: relative;
}

#maconha{
    width: 20px;
    height: 20px;
}

#imagem{
    width: 300px;
    border: 4px solid #008a8a;
}

.titulos{
    text-align: center;
}

.photos{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin-top: 20px;
}

.pinto{
    background-color: #86B6C6;
    text-align: center;
}

.botao{
    background-color: #B7D9E2;
    border-radius: 5px;
    border: 1px solid #75a2b6;
    width: 90px;
    height: 30px;
}

.botao:hover{
    background-color: #3a728e;
    border-radius: 5px;
    border: 1px solid #1f5372;
}

.cu{
    align-self: center;
}

#versiculoUm{
    border: 2px solid #5C93AA;
    border-radius: 10px;
}

#versiculoDois{
    border: 2px solid #5C93AA;
    border-radius: 10px;
}

.versiculos{
    position: fixed;
    bottom: 8%;
    width: 98.5%;
}

.footer{
        position: fixed;
        left: 0.5%;
        bottom: 0;
        width: 98.5%;
        background-color: #B7D9E2;
        border: 3px solid #5C93AA;
        text-align: center;
}